<%- include("partials/header.ejs") %>
    <div class="mainform">
        <form action="/add-post" method="POST" class="inputform">
            <input type="text" name="post" placeholder="Write your post here..." required>
            <button type="submit">Submit</button>
        </form>
    </div>
    <h1 class="post">RECENT POSTS:<%for(let j=posts.length-1;j>=0;j--){%>
        <ul style="list-style-type:none;" class="postdata">
            <div class="maincontent">
                <li ><%=posts[j].content %></li>
            <form action="/delete-post" method="POST" class="">
                <input type="hidden" name="postId" value="<%= posts[j].id%>">
                
                    <button type="submit" class="btn">Delete</button>
                
            </form>
            <form action="/update-post" method="POST">
                <input type="hidden" name="updatepostId" value="<%= posts[j].id%>">
                
                    <button type="submit" class="btn">Update</button>
                
            </form>
            </div>

                
            
            
        </ul>
    <% } %>
</h1>
<%- include("partials/footer.ejs") %>

